html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('../public/steelStacks.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

